:root {
  --font-hierarchy: 'armalite', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* variables to control player window dimensions */

  --max-window-width: 1600px;

  /* player window varies between 480px and 40% of max width, scaling at 40vw */

  --base-window-width: 480px;

  --player-window-scalar: max(
    var(--base-window-width),
    min(calc(0.4 * var(--max-window-width)), 40vw)
  );

  --game-title-font-size: calc(
    0.35 * min(calc(0.4 * var(--max-window-width)), 40vw)
  );

  /* can't divide 30px / 480px sadly so this is an independent calc*/
  --player-window-title-font-scalar: calc(30 / 480);
  --player-normal-title-font-scalar: calc(20 / 480);

  --window-title-font-size: calc(
    var(--player-window-scalar) * var(--player-window-title-font-scalar)
  );

  --window-normal-font-size: calc(
    var(--player-window-scalar) * var(--player-normal-title-font-scalar)
  );

  --player-window-width: var(--player-window-scalar);
  --player-window-height: calc(1.3 * var(--player-window-scalar));

  /* control board-grid size against player-window */
  --grid-dimension: calc(0.1 * var(--player-window-width));

  --lightFontColor: rgb(182, 207, 215);
  --overlayColour: rgba(0, 8, 8, 0.7);

  --mainFontColor: rgb(145, 141, 217);
  --gameAreaColour: rgb(29, 63, 8);
}

@font-face {
  font-family: 'armalite';
  src: url('./assets/fonts/armalite-rifle/armalite.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: rgb(189, 215, 222);
  margin: 0;
  display: grid;
  place-items: center;
}

#main-container {
  background-color: rgb(21, 49, 68);
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: var(--max-window-width);
  display: grid;
  margin: 0;
  justify-items: stretch;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

#topbar {
  padding: 10px;
  grid-row: 1;
  grid-column: 1/3;
  /* font-size aims to be 90% of active window at all times */
  font-size: var(--game-title-font-size);
  font-family: 'armalite';
  display: grid;
  place-items: center;
  animation: 2s oscillate infinite alternate;
}

@keyframes oscillate {
  0% {
    color: black;
  }

  100% {
    color: rgb(0, 0, 255);
  }
}

#messages {
  margin: 0 20px;
  background-color: var(--overlayColour);
  border-radius: 20px;
  min-height: 90px;
  padding: 0 10px;
  grid-row: 2;
  grid-column: 1/3;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--lightFontColor);
  font-size: var(--window-title-font-size);
  font-weight: 800;
  font-family: 'armalite';
}

/* player-window is the window inside which different containers will be inserted - the board or ship selection */
.player-window {
  background-color: var(--overlayColour);
  color: var(--lightFontColor);
  border-radius: 30px;
  grid-row: 3;
  justify-self: center;
  height: var(--player-window-height);
  width: var(--player-window-width);
  display: grid;
  font-family: 'armalite';
  margin-bottom: 40px;
}

#player-1-window {
  grid-column: 1;
}

#computer-window {
  grid-column: 2;
}

.player-gameboard {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 10fr;
}

.crosshairs:hover {
  cursor: crosshair;
}

.player-gameboard-title {
  font-size: var(--window-title-font-size);
  font-weight: 800;
}

.player-gameboard-board {
  font-size: calc(
    var(--player-window-scalar) * var(--player-normal-title-font-scalar)
  );

  display: grid;
}

.board-cell {
  border: 0.2px solid rgb(8, 77, 161);
  background-color: var(--lightFontColor);
  display: grid;
  place-items: center;
}

.with-ship {
  background-image: url('./assets/images/ship.svg');
  background-size: calc(0.7 * var(--grid-dimension));
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-image: url('./assets/images/dot.svg');
  background-size: calc(1 * var(--grid-dimension));
  background-repeat: no-repeat;
  background-position: center;
}

.hit {
  /* background-color: orange; */
  background-image: url('./assets/images/boom-hit.svg');
  background-size: calc(0.8 * var(--grid-dimension));
  background-repeat: no-repeat;
  background-position: center;
}

.sunk {
  /* background-color: darkred; */
  background-image: url('./assets/images/boom-sunk.svg');
  background-size: var(--grid-dimension);
  background-repeat: no-repeat;
  background-position: center;
}

.ship-board {
  display: grid;
  /* ratio gives room for 5x5 size with 7/13 of height, REVISIT */
  grid-template-rows: 1fr 1fr 4fr 7fr;
}

.ship-board-title {
  display: grid;
  place-items: center;
  font-size: calc(
    var(--player-window-scalar) * var(--player-window-title-font-scalar)
  );
  font-weight: 800;
}

.ship-board-text {
  display: grid;
  place-items: center;
  font-size: calc(
    var(--player-window-scalar) * var(--player-normal-title-font-scalar)
  );
}

.ship-board-selector {
  border: 2px double black;
  margin: calc(var(--player-window-width) / 48)
    calc(var(--player-window-width) / 6);
  display: grid;
  row-gap: 5px;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

#carrier-img-selector {
  width: calc(
    5 * var(--grid-dimension) - 10px
  ); /* scaling length minus padding */
  height: calc(0.9 * var(--grid-dimension));
  grid-row: 1;
  grid-column: 2/7;
}

#battleship-img-selector {
  width: calc(
    4 * var(--grid-dimension) - 10px
  ); /* scaling length minus padding */
  height: calc(0.9 * var(--grid-dimension));
  grid-row: 3;
  grid-column: 1/5;
}

#destroyer-img-selector {
  width: calc(
    3 * var(--grid-dimension) - 10px
  ); /* scaling length minus padding */

  height: calc(0.9 * var(--grid-dimension));
  grid-row: 2;
  grid-column: 1/4;
}

#submarine-img-selector {
  width: calc(
    3 * var(--grid-dimension) - 10px
  ); /* scaling length minus padding */

  height: calc(0.9 * var(--grid-dimension));
  grid-row: 2;
  grid-column: 5/8;
}

#cruiser-img-selector {
  width: calc(
    2 * var(--grid-dimension) - 10px
  ); /* scaling length minus padding */

  height: calc(0.9 * var(--grid-dimension));
  grid-row: 3;
  grid-column: 6/8;
}

.ship-board-viewer {
  display: grid;
  place-items: center;
}

/* effectively a 5x5 size grid inside the viewer */
#ship-board-viewer-box {
  border: 1px solid black;
  width: calc(5.5 * var(--grid-dimension));
  height: calc(5.5 * var(--grid-dimension));
  display: grid;
  place-items: center;
}

#draggable-container {
  display: grid;
}

#options {
  padding: 20px;
  grid-row: 4;
  grid-column: 1/3;
  display: grid;
  place-items: center;
}

#new-game-button {
  background-color: black;
  font-size: var(--window-title-font-size);
  padding: 10px 20px;
  font-family: 'armalite';
  color: var(--lightFontColor);
}

.end-game-dialog-no-display {
  display: none;
}

.end-game-dialog-display {
  background-color: var(--overlayColour);
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  display: grid;
  row-gap: 20px;
  place-items: center;
  grid-template-rows: auto 1fr;
  max-width: calc(0.8 * var(--base-window-width));
}

dialog::backdrop {
  background-color: rgb(10, 10, 11);
  opacity: 0.85;
}

#dialog-end-game-text {
  margin: 0 20px;
  padding: 30px;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--lightFontColor);
  font-size: var(--window-title-font-size);
  font-weight: 800;
  font-family: 'armalite';
}

#dialog-new-game-button {
  background-color: black;
  font-size: var(--window-title-font-size);
  padding: 10px 20px;
  font-family: 'armalite';
  color: var(--lightFontColor);
}

/* tablet size, player windows above each other */
@media (width > 640px) and (width <= 1024px) {
  #main-container {
    grid-template-rows: repeat (4, auto);
    grid-template-columns: repeat(1, 1fr);
  }

  #topbar {
    grid-row: 1;
    grid-column: 1;
  }

  #messages {
    grid-row: 2;
    grid-column: 1;
  }

  #player-1-window {
    grid-row: 3;
    grid-column: 1;
  }

  #computer-window {
    grid-row: 4;
    grid-column: 1;
  }

  #options {
    grid-row: 5;
    grid-column: 1;
  }
}

/* mobile, columns, player windows filling full width */
@media (width <= 640px) {
  body {
    background-image: none;
  }

  #main-container {
    grid-template-rows: repeat (4, auto);
    grid-template-columns: repeat(1, 1fr);
  }

  #topbar {
    grid-row: 1;
    grid-column: 1;
  }

  #messages {
    grid-row: 2;
    grid-column: 1;
  }

  #player-1-window {
    grid-row: 3;
    grid-column: 1;
  }

  #computer-window {
    grid-row: 4;
    grid-column: 1;
  }

  #options {
    grid-row: 5;
    grid-column: 1;
  }
}

/* for non-mobile screens, centre vertically when high window */
/* NEED TO CALCULATE HEIGHT FOR APPROPRIATE MARGIN! */

@media (height >= 1300px) and (width > 1024px) {
  body {
    margin: calc((100vh - 1280px) / 2) 0;
  }
}

/* DISPLAY CLASSES MUST BE PLACED LAST TO OVERRIDE OTHER CLASSES WHEN NECESSARY */
.display-grid {
  display: grid;
}
.display-none {
  display: none;
}
